:root {
    --button_color: hsl(25, 97%, 53%);
    --default_font_color: hsl(0, 0%, 100%);
    --font_color: hsl(217, 12%, 63%);
    --overlay_color: hsl(216, 12%, 54%);
    --container_color: hsl(213, 19%, 18%);
    --circle_overlay: hsla(216, 12%, 54%, 0.1);
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    color: var(--default_font_color);
}

body p {
    font-size: 15px;
    color: var(--font_color);
    margin-block-start: 0.5em;
}

body h1 {
    margin-block-end: 0px;
}

main {
    display: flex;
    align-items: center;
    height: 100vh;
}

button {
    background-color: var(--button_color);
    color: var(--default_font_color);
    border-radius: 100px;
    min-height: 4em;
    border: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-block-start: 1.5em;
}

button:hover {
    background-color: var(--default_font_color);
    color: var(--button_color);
}

.box_container {
    background-color: var(--container_color);
    display: flex;
    margin: 1em auto;
    flex-direction: column;
    justify-content: space-around;
    padding: 2.5em 1.5em 2em 1.5em;
    max-width: 300px;
    border-radius: 15px;
    min-height: 25vh;
}

.container {
    align-items: center;
    text-align: center;
}

.rating_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-block-start: 0.5em;
    color: var(--font_color);
}

.circle_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: var(--circle_overlay);
    width: 20px;
    border-radius: 50%;
}

.star_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: var(--circle_overlay);
    width: 20px;
    border-radius: 50%;
}

.circle_overlay:hover {
    background-color: hsla(216, 12%, 54%, 0.6);
    color: var(--default_font_color);
    transition: all 0.4s ease;
}

.rating_clicked {
    background-color: var(--button_color);
    color: var(--default_font_color)
}

.img_overlay {
    background-color: var(--circle_overlay);
    padding: 8px;
    color: var(--button_color);
    border-radius: 35px;
    margin-block-start: 1em;
    width: 75%;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 600px) {
    .box_container {
        max-width: 340px;
    }
}